<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="APP_NAME">demo-elk</Property>
    <Property name="APP_LOG_ROOT">logs</Property>
  </Properties>

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json">
        <EventTemplateAdditionalField key="app_name" value="${APP_NAME}"/>
        <EventTemplateAdditionalField key="environment" value="${sys:env:-development}"/>
        <EventTemplateAdditionalField key="host" value="${hostName}"/>
      </JsonTemplateLayout>
    </Console>

    <RollingFile name="FileAppender"
      fileName="${APP_LOG_ROOT}/application.log"
      filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
      <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json">
        <EventTemplateAdditionalField key="app_name" value="${APP_NAME}"/>
        <EventTemplateAdditionalField key="environment" value="${sys:env:-development}"/>
        <EventTemplateAdditionalField key="host" value="${hostName}"/>
      </JsonTemplateLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <Socket name="LogstashAppender" host="logstash-host" port="4560" protocol="TCP">
      <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json">
        <EventTemplateAdditionalField key="app_name" value="${APP_NAME}"/>
        <EventTemplateAdditionalField key="environment" value="${sys:env:-development}"/>
        <EventTemplateAdditionalField key="host" value="${hostName}"/>
      </JsonTemplateLayout>
    </Socket>
  </Appenders>

  <Loggers>
    <Logger name="com.miti99" level="DEBUG" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
      <AppenderRef ref="LogstashAppender"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
      <AppenderRef ref="LogstashAppender"/>
    </Root>
  </Loggers>
</Configuration>
